{% extends 'layout.html' %}

{% block body %}

<div class="table-responsive">
    <div class="row"><div class="col-sm-12"><h3> &nbsp </h3></div></div>


            <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card-deck">


                      <div class="card border-0" id="logocard">
                          <div class="text-center">
                      <div class="blue-text font-weight-bold">
                          <h2><b>Why let your accounting run your business?</b></h2>
                          <br>
                          <h2><b>Get out of the weeds, and let your business run your accounting.</b></h2>
                          <br>

                     </div>



                    <img class="card-img-top" src="/static/NAIM/pics/nixonai_oval.png" >
                              <br><br><br>

                      <div class="text-muted">
                      NixonAI is a software development company producing AI-based office automation products.
                          <br><br>Washington DC &bull; Baltimore, MD <br>757-897-3266 &bull; mark@nixonai.com<br><br>
                     </div>
                    </div>
                  </div>

                <div class="card border-0" id="markcard">
                  <img class="card-img-top" src="/static/NAIM/pics/mark_why.png" >

                </div>

                </div></div></div>

            <div class="row"><div class="col-sm-12"><h3> &nbsp </h3></div></div>

    <div class="row"><div class="col-sm-1"></div><div class="col-sm-11 text-black"><h4> What NixonAI Does and What NixonAI Can Do For You... </h4></div></div>

        <div class="row">

            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="card-deck">

                  <div class="card" id="class8card">
                    <img class="card-img-top" src="/static/NAIM/pics/class8three.png" >
                    <div class="card-body">
                      <h5 class="card-title">Class8 Software for Trucking and Terminal Operations</h5>
                      <p class="card-text">NixonAI provides intermodal trucking software (and associated services) to help smaller trucking businesses
                          grow and become more efficient, competitive, and compliant.
                      </p>
                    </div>
                    <div class="card-footer text-center">
                      <small class="text-muted">Operations &bull; Accounting &bull; Compliance</small>
                    </div>
                  </div>

                <div class="card" id="cost">
                  <img class="card-img-top" src="/static/NAIM/pics/ia1.png" >
                  <div class="card-body">
                    <h5 class="card-title">Customized Intelligent Agents</h5>
                    <p class="card-text"> If your business depends on reliable data you probably spend a great deal of
                        time or money collecting and monitoring your information.  In fact, you may have staff
                        hired specifically for such tasks.  Our software agents are completely automated, can learn just like anyone else performing a repetitive task, and
                        will save you time and money.
                  </div>
                  <div class="card-footer text-center">
                    <small class="text-muted">Software Agents Learn to Perform Tasks for You</small>
                  </div>
                </div>

                  <div class="card" id="by">
                    <img class="card-img-top" src="/static/NAIM/pics/aifusedtwo.png" alt="portbaltimore.jpg">
                    <div class="card-body">
                      <h5 class="card-title">AI-Fused Websites</h5>
                      <p class="card-text">If you want a website that is more than pretty pictures and a few lines of information
                          then you have come to the right place.  Get a website that can also give you a
                          centralized housing for all your documents and easy searchable access to all of your key information,
                          and a means to share information without any software more than your browser.
                    </div>
                    <div class="card-footer text-center">
                      <small class="text-muted">Web + AI = Knowledge & Power</small>
                    </div>
                  </div>


                  <div class="card" id="port">
                    <img class="card-img-top" src="/static/NAIM/pics/neuralnet.png" alt="portbaltimore.jpg">
                    <div class="card-body">
                      <h5 class="card-title">AI Consulting</h5>
                      <p class="card-text"> NixonAI provides consulting and project assistance for effort related to machine learning.
                          Specializing in neural net approaches an and convoutional neural nets, NixonAI is ready to help your company obtain its goals.</p>
                    </div>
                    <div class="card-footer text-center">
                      <small class="text-muted">Machine Learning &bull; Neural Nets</small>
                    </div>
                  </div>

                 </div>
            </div> <div class="col-sm-1"></div>
        </div>




</div></div>
{% endblock %}
