{% extends 'layout.html' %}

{% block body %}
<div class="table-responsive">
    <div id="hero">
      <div id="hero-overlay">
            <div class="row"><div class="col-sm-12"><h1>&nbsp</h1></div></div>
            <div class="row"><div class="col-sm-12"><h5>&nbsp</h5></div></div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-9 text-white">
                <h1 class="display-5">NixonAI</h1>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-4 text-white">
                <h3>Stop, Drop, and Roll...</h3>
                </div>
                <div class="col-sm-7"></div>
            </div>
        </div>
        </div>
</div>
{% endblock %}
