<br>
<div class="card">

<div class="card-header">
    <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Create Street Turn</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="upstreet">Update</button>
            <button type="submit" class="btn btn-md btn-elegant" name="Return">Cancel</button>
        </div>
    </div>
</div>

<div class="card-body">
<table>
<tbody>

<tr>
    <td align="right"> <div class="input-group-text">Container:</div></td> <td><input class="form-control" type="text" name="container" ></td>
</tr>

<tr>
<td align="right"> <div class="input-group-text">On To Booking:</div></td> <td><input class="form-control input-sm" type="text" name="booking" ></td>
</tr>

<tr>
<td  align="right">  <div class="input-group-text">Date of ReUse:</div></td>
<td><input  class="form-control input-xsm"  type="date" name="dateturn" value="{{ today }}"></td>
</tr>


</tbody>
</table>
</div>
</div>
