{% set emaildata = holdvec[4] %}
{% set emailin1=emaildata[0] %}
{% set emailin2=emaildata[1] %}
{% set emailcc1=emaildata[2] %}
{% set emailcc2=emaildata[3] %}
{% set paydata = holdvec[0] %}
{% set depolist = holdvec[1] %}
{% set thisdepo = holdvec[2] %}
{% set iter = holdvec[12] %}
{% set paymeths = ['Cash', 'Check', 'Credit Card', 'Direct Deposit'] %}

<div class="card">
    <div class="card-header">
    Stamp Payment on Invoice
    </div>
    <div class="card-body">
        <table>
            <tr>
                <td colspan="4">
                <button type="submit" class="btn btn-mdb-color btn-sm" name="update"
                data-toggle="tooltip" title="Use to change documentation order among tenders, proofs, invoice, etc">Update</button>
                    {% if iter > 0 %}
                        <button type="submit" class="btn btn-dark-green btn-sm" name="recordnow"
                        data-toggle="tooltip" title="Record the payment and finalize the invoice">Record Only</button>
                        <button type="submit" class="btn btn-dark-green btn-sm" name="emailnow"
                        data-toggle="tooltip" title="Email the Packaged material using email setup shown on left">Record & Email</button>
                    {% else %}
                        <button type="submit" class="btn btn-dark-green btn-sm" name="recordnow"
                        data-toggle="tooltip" title="Record the payment and finalize the invoice" disabled>Record Only</button>
                        <button type="submit" class="btn btn-dark-green btn-sm" name="emailnow"
                        data-toggle="tooltip" title="Email the Packaged material using email setup shown on left" disabled>Record & Email</button>
                    {% endif %}
                    <button type="submit" class="btn btn-blue btn-sm" name="Return"
                        data-toggle="tooltip" title="Return to Tables without further execution of options">Return</button>
                </td>
            </tr>
            <tr>
                <td><div class="input-group-text">Amt Applied: </div></td><td><input class="form-control" type="text" value={{ paydata[0] }} name="paidamt"></td>
                <td><div class="input-group-text">Date Applied: </div></td><td><input class="form-control" type="date" value={{ paydata[1] }} name="paidon"></td>
            </tr>
            <tr>

                <td><div class="input-group-text">Pay Method: </div></td>
                <td>
                    <select class="form-control" type="text" name="paymethod" onchange="this.form.submit()">
                    <option value="xxx" disabled selected>Choose Pay Method</option>
                    {% for meth in paymeths %}
                        <option {% if meth == paydata[3] %} selected {% endif %} value='{{meth}}'>{{meth}}</option>
                    {% endfor %}
                    </select>
                </td>
            <td><div class="input-group-text">Pay Reference: </div></td><td><input class="form-control" type="text" value="{{ paydata[2] }}" name="payref"></td>

            </tr>
            <tr>
                <td colspan="2">
                    <select class="form-control" type="text" name="acctfordeposit">
                    <option value="" disabled selected>Choose Deposit Account</option>
                    {% for depo in depolist %}
                        <option {% if depo == thisdepo %} selected {% endif %} value='{{depo}}'>{{depo}}</option>
                    {% endfor %}
        </select>
                </td>

            </tr>
        </table>
    </div>
</div>
