<br>
<div class="card">
<div class="card-header">
    <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter New {{ task_focus }} Information</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="Create Item">Create {{ tablesetup['name'] }}</button>
            <button type="submit" class="btn btn-md btn-elegant" name="Cancel">&nbsp; Cancel </button>
        </div>
    </div>
</div>

<div class="card-body">
<table class="table table-condensed table-hover">
<tbody>
{% for entry in entrydata %}
    {% if entry[5] == 0 %}
            {%  set colortext = '' %}{% set message = 'ok' %}
    {% elif entry[5] == 1 %}
            {%  set colortext = 'yellow' %}
    {% else %}
            {%  set colortext = 'red text-white' %}
    {% endif %}
    {% if entry[3] == 'select' %}
            <tr>
                <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>

                <td>
                    <select class="form-control {{ colortext }}" type="text" name="{{ entry[0] }}" onchange="this.form.submit()">
                    <option value='Choose Later'>Choose Later</option>

                        {% if entry[4] == 'customerdata' %}{% set klist = keydata.customerdata %}{% endif %}
                        {% if entry[4] == 'container_types' %}{% set klist = genre_data['container_types'] %}{% endif %}
                        {% if entry[4] == 'load_types' %}{% set klist = genre_data['load_types'] %}{% endif %}
                        {% set htest = holdvec[loop.index-1] %}
                        {% for kdata in klist %}
                            <option value="{{kdata}}" {% if kdata == htest %} selected {% endif %}> {{ kdata }} </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

    {%  elif entry[3] == 'multitext' %}
        {% if entry[4] != 'text' %}
            {% if entry[4] == 'dropblock1' %}{% set klist = keydata.dropblock1 %}{% endif %}
            {% if entry[4] == 'dropblock2' %}{% set klist = keydata.dropblock2 %}{% endif %}
            {% if klist %}
            <tr>
                <td><div class="input-group-text">Previous {{ entry[2] }}</div></td>
                <td>
                    <select class="form-control" type="text" name="{{ entry[4] }}" onchange="this.form.submit()">
                    <option value="">Optional Choose from Previous</option>
                    {% for du in klist %}
                    <option {% if du == thisdu %} selected {% endif %} value='{{du}}'>{{du}}</option>
                    {% endfor %}
                    </select>
                </td>
            </tr>
        {%  endif  %}
        {% endif %}
            <tr>
                <td> <div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}"> {{ entry[2] }} </div></td>
                <td colspan="2"><textarea class="form-control {{ colortext }}" type="text" name="{{ entry[0] }}" rows="4">{% if holdvec[loop.index - 1] != 0 %}{{ holdvec[loop.index-1]}}{% endif %}</textarea></td>
            </tr>

    {% elif entry[3] == 'text' or entry[3] == 'date' or entry[3] == 'time' %}

            <tr>
                <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>
                <td><input class="form-control {{ colortext }}" type="{{ entry[3] }}" name="{{ entry[0] }}" value="{{ holdvec[loop.index-1] }}"  data-toggle="tooltip" title="{{ message }}"></td>
            </tr>

    {% endif %}

{% endfor %}

</tbody></table>



</div>
</div>