{% set emaildata = holdvec[4] %}
{% set stampdata = holdvec[5] %}
{% set emailin1=emaildata[0] %}
{% set emailin2=emaildata[1] %}
{% set emailcc1=emaildata[2] %}
{% set emailcc2=emaildata[3] %}
{% set docs = holdvec[8] %}
{% set sections = ['1st Section', '2nd Section', '3rd Section', '4th Section'] %}
{% set docall = ['Source', 'Proofs', 'Invoice', 'Gate Tickets'] %}
{% set fexist = holdvec[9] %}
<div class="card">
<div class="card-header">
Invoice Package Can be Reordered and Stamped
</div>
<div class="card-body">
<table>
<tr>
<td colspan="4">
<button type="submit" class="btn btn-mdb-color btn-sm" name="reorder"
data-toggle="tooltip" title="Use to change documentation order among tenders, proofs, invoice, etc">Reorder</button>
<button type="submit" class="btn btn-primary btn-sm" name="stampnow"
data-toggle="tooltip" title="Use to place an electronic mark, signature, and/or date...use zero for page number to skip">Stamp</button>
<button type="submit" class="btn btn-dark-green btn-sm" name="emailnow"
data-toggle="tooltip" title="Email the Packaged material using email setup shown on left">Email</button>
<button type="submit" class="btn btn-blue btn-sm" name="Return"
data-toggle="tooltip" title="Return to Tables without further execution of options">Return</button>
</td>
</tr>
</table>
</div>
</div>
<div class="card">
<div class="card-header">
First, select order of items and then hit REORDER button
</div>
<div class="card-body">
<table>
{% for section in sections %}
{% set outerloop = loop %}
    <tr>
        <td> <div class="input-group-text">{{ section }}:</div></td>
        <td>
        <select class="form-control" type="text" name="{{ section }}">
        {% for thisdoc in docall %}
            <option {% if docs[outerloop.index-1] == thisdoc %} selected {% endif %} value='{{ thisdoc }}'> {{ thisdoc }} </option>
        {% endfor %}
        <option {% if docs[outerloop.index-1] == '0' %} selected {% endif %} value='0'> Nothing </option>
        </select>
        </td>
        <td><font color="red"> {% if docs[outerloop.index-1] != '0' %}{% if fexist[outerloop.index-1] == 0 %}This file type does not exist{% endif %}{% endif %}</font></td>
    </tr>
{% endfor %}
</table>
</div>
</div>
<div class="card">
    <div class="card-header">
        Select Items to Stamp on to Existing Documents
    </div>
    {% set stamps = holdvec[10] %}
    {% set sigs = holdvec[11] %}
    <div class="card-body">
        <table>
            <tr>
                <td> <div class="input-group-text">Stamps:</div></td>
                <td>
                <select class="form-control" type="text" name="stampname" onchange="this.form.submit()">
                    <option value="" disabled selected>None</option>
                    {% for stamp in stamps %}
                        <option value='{{ stamp }}'>{{ stamp }}</option>
                    {% endfor %}
                </select>
                </td>
            </tr>
            <tr>
                <td> <div class="input-group-text">Signatures:</div></td>
                <td>
                   <select class="form-control" type="text" name="signame" onchange="this.form.submit()">
                        <option value="" disabled selected>None</option>
                        {% for sig in sigs %}
                            <option value='{{ sig }}'>{{ sig }}</option>
                        {% endfor %}
                   </select>
                </td>
            </tr>
        </table>
    </div>
</div>

{% set addedstamps = holdvec[15] %}
{% for addedstamp in addedstamps %}
    <input type = "hidden" name ="{{ addedstamp }}" value= "{{addedstamp}}">
    {% set page = 5*(loop.index-1) %}
    {% set height = 5*(loop.index-1)+1 %}
    {% set right = 5*(loop.index-1)+2 %}
    {% set scale = 5*(loop.index-1)+3 %}
    {% set checks = 5*(loop.index-1)+4 %}
    <div class="card">

        <div class="card-header">
            <input class="inline-form-control" type="checkbox" checked  name="{{ addedstamp }}_c" onchange="this.form.submit()"> Select location for {{ addedstamp }} (Page, Height, Right, Image Scale)
        </div>

        <div class="card-body">
            <table>
                <tr>
                <td><div class="input-group-text">P: </div></td>
                <td colspan="3"><input class="form-control" type="text" value={{stampdata[page]}} name="{{ addedstamp }}_p"
                data-toggle="tooltip" title="Match this value to the page you want the mark, use zero to skip using"></td>

                <td><div class="input-group-text">H:</div></td>
                <td colspan="3"><input class="form-control" type="text" value={{stampdata[height]}} name="{{ addedstamp }}_h"></td>

                <td><div class="input-group-text">R:</div></td>
                <td colspan="3"><input class="form-control" type="text" value={{stampdata[right]}} name="{{ addedstamp }}_r"></td>

                <td><div class="input-group-text">Scale:</div></td>
                <td colspan="3"><input class="form-control" type="text" value={{stampdata[scale]}} name="{{ addedstamp }}_s"></td>
                </tr>
            </table>

        </div>
    </div>
{% endfor %}