<br>
<div class="card">
<div class="card-header">
    <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter New {{ task_focus }} Information</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="Create Item">Create {{ tablesetup['name'] }}</button>
            <button type="submit" class="btn btn-md btn-elegant" name="Cancel">&nbsp; Cancel </button>
        </div>
    </div>
</div>

{% set form_show = tablesetup['form show']['New'] %}
{% set numitems = entrydata | length %}
{% set termvec = holdvec[numitems] %}
{% set secterm = termvec[0] %}
{% set noterm = termvec[1] %}
{% set secstop = termvec[2] %}

<div class="card-body">
<table class="table table-condensed table-hover">
<tbody>
{% for entry in entrydata %}
    {% if entry[4] is not none and (entry[9] in form_show or entry[9] == 'Always') %}

        {% if entry[5] == 0 %}
            {%  set colortext = '' %}{% set message = 'ok' %}
            {%  set valdat = 'is-valid' %}
        {% elif entry[5] == 1 %}
                {%  set colortext = 'yellow' %}
        {% else %}
                {%  set colortext = 'red text-white' %}
                {%  set valdat = 'is-invalid' %}
        {% endif %}
        {% if entry[3] == 'select' %}
                <tr>
                    <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>

                    <td>
                        <select class="form-control {{ valdat }}" type="text" name="{{ entry[0] }}" onchange="this.form.submit()">
                        <option value='Choose Later'>Choose Later</option>

                                {% if entry[4] == 'customerdata' %} {% set klist = keydata.customerdata %}
                                {% elif entry[4] == 'truckdata' %} {% set klist = keydata.truckdata %}
                                {% elif entry[4] == 'tagdata' %} {% set klist = keydata.tagdata %}
                                {% elif entry[4] == 'driverdata' %} {% set klist = keydata.driverdata %}
                                {% elif entry[4] == 'container_types' %}{% set klist = genre_data['container_types'] %}
                                {% elif entry[4] == 'pickupdata' %}{% set klist = genre_data['pickupdata'] %}
                                {% elif entry[4] == 'load_types' %}{% set klist = genre_data['load_types'] %}
                                {% elif entry[4] == 'haul_types' %}{% set klist = genre_data['haul_types'] %}
                                {% elif entry[4] == 'vendordata' %} {% set klist = keydata.vendordata %}
                                {% elif entry[4] == 'acctdata' %} {% set klist = keydata.acctdata %}
                                {% elif entry[4] == 'paymethods' %}{% set klist = genre_data['paymethods'] %}
                                {% elif entry[4] == 'expdata' %}{% set klist = keydata.expdata %}
                                {% elif entry[4] == 'codata' %}{% set klist = keydata.codata %}
                                {% elif entry[4] == 'shipdata' %}{% set klist = keydata.shipdata %}
                                {% elif entry[4] == 'delivery_types' %}{% set klist = genre_data['delivery_types'] %}
                                {% elif entry[4] == 'terminaldata' %}{% set klist = keydata.terminaldata %}
                                {% elif entry[4] == 'truck_types' %}{% set klist = genre_data['truck_types'] %}

                                {% endif %}

                            {% set htest = holdvec[loop.index-1] %}
                            {% if klist %}
                                {% for kdata in klist %}
                                    <option value="{{kdata}}" {% if kdata == htest %} selected {% endif %}> {{ kdata }} </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>

        {%  elif entry[3] == 'multitext' %}
            {% if entry[4] != 'text' %}
                {% if entry[4] == 'dropblock1' %}
                    {% if noterm %}
                        {% set klist = keydata.dropbolck1 %}{% set que0 = 'Previous Pick Up' %}
                        {% set que1 = 'Optional Choose from Previous' %}{% set que2 = 'Previous Pick Up' %}
                    {% elif secterm %}
                        {% set klist = keydata.terminaldata %}{% set que0 = 'Terminal Pick Up' %}
                        {% set que1 = 'Optional Choose Terminal' %}{% set que2 = 'Terminal Pick Up Address' %}
                    {% else %}
                        {% set klist = keydata.terminaldata %}
                        {% set que0 = 'Terminal Pick Up and Return' %}
                        {% set que1 = 'Optional Choose Terminal' %}{% set que2 = 'Terminal PU/Return Address' %}
                    {% endif %}
                {% endif %}
                {% if entry[4] == 'dropblock2' %}
                    {% set klist = keydata.dropblock2 %}{% set que0 = 'Previous Load At' %}
                    {% set que1 = 'Optional Choose from Previous' %}{% set que2 = 'Load At' %}
                {% endif %}
                {% if entry[4] == 'dropblock3' %}
                    {% if noterm %}
                        {% set klist = keydata.dropblock3 %}
                        {% set que0 = 'Previous Extra Stop' %}
                        {% set que1 = 'Optional Choose from Previous' %}{% set que2 = 'Extra Stop Address' %}
                    {% elif secterm %}
                        {% set klist = keydata.terminaldata %}
                        {% set que0 = 'Terminal Return To' %}
                        {% set que1 = 'Optional Choose Terminal' %}{% set que2 = 'Terminal Return Address' %}
                    {% else %}
                        {% set klist = keydata.dropblock3 %}
                        {% set que0 = 'Previous Extra Stop' %}
                        {% set que1 = 'Optional Choose from Previous' %}{% set que2 = 'Extra Stop Address' %}
                    {% endif %}
                {% endif %}

                {% if klist %}
                <tr>
                    <td><div class="input-group-text">{{ que0 }}</div></td>
                    <td>
                        <select class="form-control" type="text" name="{{ entry[4] }}" onchange="this.form.submit()">
                        <option value="">{{ que1 }}</option>
                        {% for du in klist %}
                        <option {% if du == thisdu %} selected {% endif %} value='{{du}}'>{{du}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
                {%  endif  %}
            {% else %}
                {% set que2 = entry[2] %}
            {% endif %}

                <tr>
                    <td> <div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}"> {{ que2 }} </div></td>
                    <td colspan="2"><textarea class="form-control {{ valdat }}" type="text" name="{{ entry[0] }}" rows="4">{% if holdvec[loop.index - 1] != 0 %}{{ holdvec[loop.index-1]}}{% endif %}</textarea></td>
                </tr>

        {% elif entry[3] == 'disabled' %}

                <tr>
                    <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}" >{{  entry[2] }} disabled</div></td>
                    <td><input class="form-control {{ valdat }}" type="{{ entry[3] }}" name="{{ entry[0] }}" value="{{ holdvec[loop.index-1] }}"  data-toggle="tooltip" title="{{ message }}" disabled ></td>
                </tr>

        {% elif entry[3] == 'text' or entry[3] == 'date'  %}
                <tr>
                    <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>
                    <td><input class="form-control {{ valdat }}" type="{{ entry[3] }}" name="{{ entry[0] }}" value="{{ holdvec[loop.index-1] }}"  data-toggle="tooltip" title="{{ message }}"></td>

                </tr>

        {% elif entry[3] == 'time'%}

                <tr>
                    <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>
                    <td><input class="form-control {{ valdat }} timepicker" id="timepicker" type="text" name="{{ entry[0] }}" value="{{ holdvec[loop.index-1] }}"  data-toggle="tooltip" title="{{ message }}"></td>
                </tr>

        {% elif entry[3] == 'choose-select' %}

            {% if entry[4] == 'emaildata1' %}{% set klist = keydata.emaildata1 %}
            {% elif entry[4] == 'emaildata2' %} {% set klist = keydata.emaildata2 %}
            {% elif entry[4] == 'emaildata3' %} {% set klist = keydata.emaildata3 %}
            {% endif %}


            {% if klist %}
                <tr>
                    <td><div class="input-group-text">Previous {{ entry[2] }}</div></td>
                    <td>
                        <select class="form-control" type="text" name="{{ entry[4] }}" onchange="this.form.submit()">
                        <option value="">Optional Choose from Previous</option>
                        {% for du in klist %}
                            <option {% if du == thisdu %} selected {% endif %} value='{{du}}'>{{du}}</option>
                        {% endfor %}
                        </select>
                    </td>
                </tr>
            {%  endif  %}
                <tr>
            <td><div class="input-group-text {{ colortext }}" data-toggle="tooltip" title="{{ entry[6] }}">{{  entry[2] }}</div></td>
            <td><input class="form-control {{ valdat }} timepicker" id="timepicker" type="text" name="{{ entry[0] }}" value="{{ holdvec[loop.index-1] }}"  data-toggle="tooltip" title="{{ message }}"></td>
                </tr>

        {% endif %}
    {% endif %}

{% endfor %}

</tbody></table>



</div>
</div>