<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


<link rel="stylesheet" href="/static/test/css/style.css" />
<!-- Jquery js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Calendar js -->
    <script type="text/javascript" src="/static/js/mdb.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="/static/test/js/script3.js"></script>


<body>
<div class="calendar" id="calendar"></div>
</body>
</html>