{% set calview = 5 %}
{% set caldata = holdvec[100] %}
{% set pdio = caldata[0] %}
{% set pdip = caldata[1] %}
{% set pdeo = caldata[2] %}
{% set pdep = caldata[3] %}
{% if calview == 3 %}{% set cbr = 3 %}{% endif %}
{% if calview == 5 or calview == 10%}{% set cbr = 2 %}{% endif %}
{% set pdiovec = caldata[4]%}
{% set pdipvec = caldata[5] %}
{% set pdeovec = caldata[6] %}
{% set pdepvec = caldata[7] %}
{% set busdays = caldata[8] %}
{% set jolist = caldata[9] %}
{% set pdic = caldata[10] %}
{% set pdec = caldata[11] %}
{% set pmon = caldata[12] %}
{% set do = caldata[13] %}

{% set fbcdg = "font-weight-bold text-center dark-grey-text" %}
{% set caltop = "font-weight-bold text-center text-warning bg-dark" %}
{% set fbci = "font-weight-bold text-center indigo-text" %}
{% set fbcp = "font-weight-bold text-center purple-text" %}
{% set fbcr = "font-weight-bold text-center red-text" %}
{% set fbcc = "font-weight-bold text-center cyan-text" %}
{% set lmt = "font-weight-bold text-right" %}
{% set rmt = "font-weight-bold text-left" %}
{% set ct = "font-weight-bold text-center" %}
{% set mtxt = "font-weight-bold text-center text-white bk-success" %}

{{ genre }}
{% set klist = genre_data['haul_types'] %}

<div class="row">
    <div class="col-sm-{{ cbr }} text-left">
        <div class="{{ caltop }}"> Active Jobs </div>
        {% if pdio[0] %}<div class="{{ fbci }}">Imports Out</div>{% endif %}
            {% for io in pdio[0] %}
                <p class="small {{ io[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdiovec[0] %} checked {% endif %} name="x{{ io[5] }}"> {{ io[0] }} ({{ io[6] }}) <br>{{ io[1] }}<br>{{ io[2] }}<br>
                    {% set cmts = io[4] %}
                    {% for cmt in cmts %}{{ cmt }}<br>{% endfor%}</p>
            {% endfor %}
        {% if pdip[0] %}<div class="{{ fbci }}">Imports in Port</div>{% endif %}
            {% for ip in pdip[0] %}
                <p class="small {{ ip[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdipvec[0] %} checked {% endif %} name="x{{ ip[5] }}"> {{ ip[0] }}  ({{ ip[6] }}) <br> {{ ip[1] }}<br> {{ ip[2] }}<br>
                    {% set cmts = ip[4] %}
                    {% for cmt in cmts %}{{ cmt }}<br>{% endfor%}</p>
            {% endfor %}
        {% if pdeo[0] %}<div class="{{ fbci }}">Exports Out</div>{% endif %}
            {% for eo in pdeo[0] %}
                <p class="small {{ eo[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdeovec[0] %} checked {% endif %} name="x{{ eo[5] }}"> {{ eo[0] }} <br> {{ eo[1] }}<br> {{ eo[2] }}<br>
                    {% set cmts = eo[4] %}
                    {% for cmt in cmts %}{{ cmt }}<br>{% endfor%}</p>
            {% endfor %}
        {% if pdep[0] %}<div class="{{ fbci }}">Exports Not Pulled</div>{% endif %}
            {% for ep in pdep[0] %}
                <p class="small {{ ep[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdepvec[0] %} checked {% endif %} name="x{{ ep[5] }}"> {{ ep[0] }} <br> {{ ep[1] }}<br> {{ ep[2] }}<br>
                    {% set cmts = ep[4] %}
                    {% for cmt in cmts %}{{ cmt }}<br>{% endfor%}</p>
            {% endfor %}
        <br>
    </div>
    {% if calview == 5 %}
        {% for ix in range(1, calview+1) %}
            <div class="col-sm-{{ cbr }} text-center">
                <div class="{{ caltop }}">{{ busdays[ix-1] }}</div>


                {% if pmon[ix] %}
                    {% set mon = pmon[ix][0] %}
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#mon{{ ix }}">
                            <b>${{ mon[4] }}</b>
                        </button>
                        <!-- The Modal -->
                                    <div class="modal fade" id="mon{{ ix }}" tabindex="-1" role="dialog" aria-labelledby="monl{{ ix }}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="monl{{ ix }}">Invoice Amounts</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table>
                                                    <tr><th class="{{ ct }}">JO</th><th class="{{ ct }}">Shipper</th><th class="{{ ct }}">Container</th><th class="{{ ct }}">Amount</th></tr>
                                                        {% for item in pmon[ix] %}
                                                            <tr><td class="{{ ct }}">{{ item[0] }}</td><td class="{{ ct }}">{{ item[5] }}</td><td class="{{ ct }}">{{ item[1] }}</td><td class="{{ ct }}">{{ item[2] }}</td></tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                {% endif %}

                <!-- Begin Loop for Ordered by Time and Load Type -->
                {% for job in do[ix] %}
                    {% set jtype = job[0] %}
                    {% set kx = job[1] %}

                    {% if jtype == 'pdio' %}
                        {% set io = pdio[ix][kx] %}
                        {% set dc = io[13] %}
                        {% set dp = io[16] %}
                        {% set dstat = io[17] %}
                        {% if dp %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Drop On' %}
                                    {% set mdtext = 'Drop Not Completed' %}
                                    {% set premdtext = 'Mark If Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Drop At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Pick At' %}
                                    {% set dpret = dc[9] %}
                                {% else %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Picked On' %}
                                    {% set mdtext2 = 'Pick Completed' %}
                                    {% set premdtext2 = 'Unmark If Not Picked' %}
                                    {% set dpre = 'Drop-Pick Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% else %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Deliver On' %}
                                    {% set mdtext = 'Live Unload Not Completed' %}
                                    {% set premdtext = 'Mark If Delivered' %}
                                    {% set dpre = 'Live' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Delivered On' %}
                                    {% set mdtext = 'Live Unload Completed' %}
                                    {% set premdtext = 'Unmark If Not Delivered' %}
                                    {% set dpre = 'Live Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% endif %}
                        <button type="button" class="btn mt-1 my-0 pb-0" data-toggle="modal" data-target="#m{{ io[0] }}">
                            <p class="small {{ io[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdipvec[ix] %} checked {% endif %} name="{{ io[5] }}">
                                <b>{{ io[0] }} ({{ io[6] }})</b><br>{{ io[1] }}<br>{{ io[2] }}<br>
                                {% if 'Complete' in dpre %}
                                    {{ dpre }}
                                {% else %}
                                    <i>{{ io[14] }}</i>{% if dpret != '25:00' %} <i>{{ dpre }} {{ dpret }}</i>{% endif %}
                                {% endif %}
                                {% if io[4] != [] %}<br>{% for cmt in io[4] %}{{ cmt }}<br>{% endfor %}{% endif %}
                            </p>
                        </button>
                                <!-- The Modal -->
                                <div class="modal fade" id="m{{ io[0] }}" tabindex="-1" role="dialog" aria-labelledby="ml{{ io[0] }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ml{{ io[0] }}">{{ io[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table>
                                                {% set alins = io[7] %}
                                                    <tr><td class="{{ lmt }}">Haul Type:</td><td class="{{ rmt }}">
                                                        <select class="form-control form-control-sm" type="text" name="ht{{ io[5] }}">
                                                            {% for du in klist %}
                                                                <option {% if du == dc[12] %} selected {% endif %} value='{{du}}'>{{du}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td></tr>
                                                    <tr><td class="{{ lmt }}">Import Out:</td><td class="{{ rmt }}">{{ io[0] }} ({{ io[6] }})</td></tr>
                                                    <tr><td class="{{ lmt }}">BOL:</td><td class="{{ rmt }}">{{ io[8] }}</td></tr>

                                                    <tr><td class="{{ lmt }}">Deliver To:</td>
                                                    <td class="{{ rmt }}">
                                                        <table>
                                                            {% for alin in alins %}
                                                                <tr><td class="{{ rmt }}">{{  alin }}</td></tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td></tr>

                                                    <tr><td class="{{ lmt }}">Gate Out:</td><td class="{{ rmt }}">{{ dc[0] }}</td></tr>
                                                    <tr>
                                                        <td class="{{ lmt }}">{{ dtext }}:</td>
                                                        <td class="{{ rmt }}"><input type="date" name="delv{{ io[5] }}" value="{{ dc[1] }}">
                                                            <input type="time" id={{ dc[10] }} name="delt{{ io[5] }}" value="{{ dc[8] }}">
                                                        </td>
                                                    </tr>

                                                <tr><td class="{{ lmt }}">{{ premdtext }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 0 %} checked {% endif %} name="dwp{{ io[5] }}"> {{ mdtext }} </td></tr>
                                                {% if dp %}
                                                     <tr><td class="{{ lmt }}">{{ dtext2 }}:</td><td class="{{ rmt }}"><input type="date" name="delv2{{ io[5] }}" value="{{ dc[7] }}">
                                                         <input type="time" id={{ dc[11] }} name="pict{{ io[5] }}" value="{{ dc[9] }}"></td></tr>
                                                     <tr><td class="{{ lmt }}">{{ premdtext2 }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 1 %} checked {% endif %} name="dwp2{{ io[5] }}"> {{ mdtext2 }} </td></tr>
                                                {% endif %}

                                                    <tr><td class="{{ lmt }}">Planned Gate In:</td><td class="{{ rmt }}"><input type="date" name="gin{{ io[5] }}" value="{{ dc[2] }}"></td></tr>
                                                    <tr><td class="{{ lmt }}">Due Back By:</td><td class="{{ rmt }}">{{ dc[6] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Vessel/Voyage:</td><td class="{{ rmt }}">{{ io[11] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">JO:</td><td class="{{ rmt }}">{{ io[5] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Bill To:</td><td class="{{ rmt }}">{{ io[1] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Warnings:</td><td class="{{ rmt }}">{% for cmt in io[4] %}{{ cmt }}<br>{% endfor %}</td></tr>
                                                    <tr><td class="{{ lmt }}">&nbsp;</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                    <tr><td class="{{ lmt }}">Add comments:</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                </table>
                                                <textarea class="align-middle"  name="note{{ io[5] }}" rows="5" style="width: 95%;">{{ io[12] }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    {% endif %}

                    {% if jtype == 'pdip' %}
                        {% set ip = pdip[ix][kx] %}
                        {% set dc = ip[13] %}
                        {% set dp = ip[16] %}
                        {% set dstat = ip[17] %}
                        {% if dp %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Drop On' %}
                                    {% set mdtext = 'Drop Not Completed' %}
                                    {% set premdtext = 'Mark If Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Drop At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Pick At' %}
                                    {% set dpret = dc[9] %}
                                {% else %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Picked On' %}
                                    {% set mdtext2 = 'Pick Completed' %}
                                    {% set premdtext2 = 'Unmark If Not Picked' %}
                                    {% set dpre = 'Drop-Pick Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% else %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Deliver On' %}
                                    {% set mdtext = 'Live Unload Not Completed' %}
                                    {% set premdtext = 'Mark If Delivered' %}
                                    {% set dpre = 'Live At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Delivered On' %}
                                    {% set mdtext = 'Live Unload Completed' %}
                                    {% set premdtext = 'Unmark If Not Delivered' %}
                                    {% set dpre = 'Live Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% endif %}
                                <button type="button" class="btn mt-1 my-0 pb-0" data-toggle="modal" data-target="#m{{ ip[0] }}">
                                    <p class="small {{ ip[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdipvec[ix] %} checked {% endif %} name="{{ ip[5] }}">
                                        <b>{{ ip[0] }}</b>({{ ip[6] }}) <br> {{ ip[1] }}<br> {{ ip[2] }}<br>
                                        <i>{{ ip[14] }}</i>

                                        {% if 'Complete' in dpre %}
                                            {{ dpre }}
                                        {% else %}
                                            <i>{{ ip[14] }}</i>{% if dpret != '25:00' %} <i>{{ dpre }} {{ dpret }}</i>{% endif %}
                                        {% endif %}

                                        {% if ip[4] != [] %}<br>{% for cmt in ip[4] %}{{ cmt }}<br>{% endfor %}{% endif %}
                                    </p>
                                </button>
                                <!-- The Modal -->
                                <div class="modal fade" id="m{{ ip[0] }}" tabindex="-1" role="dialog" aria-labelledby="ml{{ ip[0] }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ml{{ ip[0] }}">{{ ip[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table>
                                                {% set alins = ip[7] %}
                                                    <tr><td class="{{ lmt }}">Haul Type:</td><td class="{{ rmt }}">
                                                        <select class="form-control form-control-sm" type="text" name="ht{{ ip[5] }}">
                                                            {% for du in klist %}
                                                                <option {% if du == dc[12] %} selected {% endif %} value='{{du}}'>{{du}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td></tr>
                                                    <tr><td class="{{ lmt }}">Import in Port:</td><td class="{{ rmt }}">{{ ip[0] }} ({{ ip[6] }})</td></tr>
                                                    <tr><td class="{{ lmt }}">BOL:</td><td class="{{ rmt }}">{{ ip[8] }}</td></tr>

                                                    <tr><td class="{{ lmt }}">Deliver To:</td>
                                                    <td class="{{ rmt }}">
                                                        <table>
                                                            {% for alin in alins %}
                                                                <tr><td class="{{ rmt }}">{{  alin }}</td></tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td></tr>

                                                    <tr><td class="{{ lmt }}">Planned Gate Out:</td><td class="{{ rmt }}"><input type="date" name="gout{{ ip[5] }}" value="{{ dc[0] }}"></td></tr>
                                                    <tr><td class="{{ lmt }}">Deliver On:</td><td class="{{ rmt }}"><input type="date" name="delv{{ ip[5] }}" value="{{ dc[1] }}">
                                                        <input type="time" id={{ dc[10] }} name="delt{{ ip[5] }}" value="{{ dc[8] }}"></td></tr>

                                                    <tr><td class="{{ lmt }}">{{ premdtext }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 0 %} checked {% endif %} name="dwp{{ ip[5] }}"> {{ mdtext }} </td></tr>
                                                {% if dp %}
                                                     <tr><td class="{{ lmt }}">{{ dtext2 }}:</td><td class="{{ rmt }}"><input type="date" name="delv2{{ ip[5] }}" value="{{ dc[7] }}">
                                                         <input type="time" id={{ dc[11] }} name="pict{{ ip[5] }}" value="{{ dc[9] }}"></td></tr>
                                                     <tr><td class="{{ lmt }}">{{ premdtext2 }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 1 %} checked {% endif %} name="dwp2{{ ip[5] }}"> {{ mdtext2 }} </td></tr>
                                                {% endif %}


                                                    <tr><td class="{{ lmt }}">Planned Gate In:</td><td class="{{ rmt }}"><input type="date" name="gin{{ ip[5] }}" value="{{ dc[2] }}"></td></tr>
                                                    <tr><td class="{{ lmt }}">Available at Port:</td><td class="{{ rmt }}">{{ dc[3] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Last Free Day from Port:</td><td class="{{ rmt }}">{{ dc[4] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Vessel Arrives</td><td class="{{ rmt }}">{{ dc[5] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Vessel/Voyage:</td><td class="{{ rmt }}">{{ ip[11] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">JO:</td><td class="{{ rmt }}">{{ ip[5] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Bill To:</td><td class="{{ rmt }}">{{ ip[1] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Warnings:</td><td class="{{ rmt }}">{% for cmt in ip[4] %}{{ cmt }}<br>{% endfor %}</td></tr>
                                                    <tr><td class="{{ lmt }}">&nbsp;</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                    <tr><td class="{{ lmt }}">Add comments:</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                </table>
                                                <textarea class="align-middle"  name="note{{ ip[5] }}" rows="5" style="width: 95%;">{{ ip[12] }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                    {% endif %}

                    {% if jtype == 'pdeo' %}
                        {% set eo = pdeo[ix][kx] %}
                        {% set dc = eo[13] %}
                        {% set dp = eo[18] %}
                        {% set dstat = eo[19] %}
                        {% if dp %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Drop On' %}
                                    {% set mdtext = 'Drop Not Completed' %}
                                    {% set premdtext = 'Mark If Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Drop At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Pick At' %}
                                    {% set dpret = dc[9] %}
                                {% else %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Picked On' %}
                                    {% set mdtext2 = 'Pick Completed' %}
                                    {% set premdtext2 = 'Unmark If Not Picked' %}
                                    {% set dpre = 'Drop-Pick Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% else %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Deliver On' %}
                                    {% set mdtext = 'Live Unload Not Completed' %}
                                    {% set premdtext = 'Mark If Delivered' %}
                                    {% set dpre = 'Live At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Delivered On' %}
                                    {% set mdtext = 'Live Unload Completed' %}
                                    {% set premdtext = 'Unmark If Not Delivered' %}
                                    {% set dpre = 'Live Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% endif %}

                               <button type="button" class="btn mt-1 my-0 pb-0" data-toggle="modal" data-target="#m{{ eo[8] }}">
                                    <p class="small {{ eo[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdeovec[ix] %} checked {% endif %} name="{{ eo[5] }}">
                                        {{ eo[0] }} ({{ eo[6] }})<br>{{ eo[9] }}<br>{{ eo[1] }}<br>{{ eo[2] }}<br>{{ eo[15] }}<br>

                                        {% if 'Complete' in dpre %}
                                            {{ dpre }}
                                        {% else %}
                                            <i>{{ eo[16] }}</i>{% if dpret != '25:00' %} <i>{{ dpre }} {{ dpret }}</i>{% endif %}
                                        {% endif %}

                                        {% if eo[4] != [] %}<br>{% for cmt in eo[4] %}{{ cmt }}<br>{% endfor %}{% endif %}
                                    </p>
                                </button>
                                <!-- The Modal -->
                                <div class="modal fade" id="m{{ eo[8] }}" tabindex="-1" role="dialog" aria-labelledby="ml{{ eo[0] }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ml{{ eo[0] }}">{{ eo[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table>
                                                {% set alins = eo[7] %}
                                                    <tr><td class="{{ lmt }}">Haul Type:</td><td class="{{ rmt }}">
                                                        <select class="form-control form-control-sm" type="text" name="ht{{ eo[5] }}">
                                                            {% for du in klist %}
                                                                <option {% if du == dc[12] %} selected {% endif %} value='{{du}}'>{{du}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td></tr>

                                                    <tr><td class="{{ lmt }}">Export Container:</td><td class="{{ rmt }}">{{ eo[0] }} ({{ eo[6] }})</td></tr>
                                                    <tr><td class="{{ lmt }}">Pulled Booking:</td><td class="{{ rmt }}">{{ eo[8] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Return Booking:</td><td class="{{ rmt }}"><input type="text" name="book{{ eo[5] }}" value="{{ eo[9] }}"></td></tr>

                                                    <tr><td class="{{ lmt }}">Deliver To:</td>
                                                    <td class="{{ rmt }}">
                                                        <table>
                                                            {% for alin in alins %}
                                                                <tr><td class="{{ rmt }}">{{  alin }}</td></tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td></tr>

                                                    <tr><td class="{{ lmt }}">Gate Out:</td><td class="{{ rmt }}">{{ dc[0] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Deliver On:</td><td class="{{ rmt }}"><input type="date" name="delv{{ eo[5] }}" value="{{ dc[1] }}">
                                                        <input type="time" id={{ dc[10] }} name="delt{{ eo[5] }}" value="{{ dc[8] }}"></td></tr>

                                                    <tr><td class="{{ lmt }}">{{ premdtext }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 0 %} checked {% endif %} name="dwp{{ eo[5] }}"> {{ mdtext }} </td></tr>
                                                {% if dp %}
                                                     <tr><td class="{{ lmt }}">{{ dtext2 }}:</td><td class="{{ rmt }}"><input type="date" name="delv2{{ eo[5] }}" value="{{ dc[7] }}">
                                                         <input type="time" id={{ dc[11] }} name="pict{{ eo[5] }}" value="{{ dc[9] }}"></td></tr>
                                                     <tr><td class="{{ lmt }}">{{ premdtext2 }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 1 %} checked {% endif %} name="dwp2{{ eo[5] }}"> {{ mdtext2 }} </td></tr>
                                                {% endif %}


                                                    <tr><td class="{{ lmt }}">Planned Gate In:</td><td class="{{ rmt }}"><input type="date" name="gin{{ eo[5] }}" value="{{ dc[2] }}"></td></tr>
                                                <tr><td class="{{ lmt }}">ERD:</td><td class="{{ rmt }}">{{ dc[3] }}</td></tr>
                                                <tr><td class="{{ lmt }}">CUT:</td><td class="{{ rmt }}">{{ dc[4] }}</td></tr>
                                                <tr><td class="{{ lmt }}">Due Back:</td><td class="{{ rmt }}">{{ dc[6] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Vessel/Voyage:</td><td class="{{ rmt }}">{{ eo[11] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">JO:</td><td class="{{ rmt }}">{{ eo[5] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Bill To:</td><td class="{{ rmt }}">{{ eo[1] }}</td></tr>
                                                <tr><td class="{{ lmt }}">Mark Delivered:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" name="dwp{{ eo[5] }}"> If live load delivered or drop-pick is picked</td></tr>
                                                    <tr><td class="{{ lmt }}">Warnings:</td><td class="{{ rmt }}">{% for cmt in eo[4] %}{{ cmt }}<br>{% endfor %}</td></tr>
                                                    <tr><td class="{{ lmt }}">&nbsp;</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                    <tr><td class="{{ lmt }}">Add comments:</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                </table>
                                                <textarea class="align-middle"  name="note{{ eo[5] }}" rows="5" style="width: 95%;">{{ eo[12] }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                    {% endif %}

                    {% if jtype == 'pdep' %}
                        {% set ep = pdep[ix][kx] %}
                        {% set dc = ep[13] %}
                        {% set dp = ep[18] %}
                        {% set dstat = ep[19] %}
                        {% if dp %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Drop On' %}
                                    {% set mdtext = 'Drop Not Completed' %}
                                    {% set premdtext = 'Mark If Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Drop At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Pick On' %}
                                    {% set mdtext2 = 'Pick Not Completed' %}
                                    {% set premdtext2 = 'Mark If Picked' %}
                                    {% set dpre = 'Pick At' %}
                                    {% set dpret = dc[9] %}
                                {% else %}
                                    {% set dtext = 'Dropped On' %}
                                    {% set mdtext = 'Drop Completed' %}
                                    {% set premdtext = 'Unmark If Not Dropped' %}
                                    {% set dtext2 = 'Picked On' %}
                                    {% set mdtext2 = 'Pick Completed' %}
                                    {% set premdtext2 = 'Unmark If Not Picked' %}
                                    {% set dpre = 'Drop-Pick Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% else %}
                                {% if dstat == 0 %}
                                    {% set dtext = 'Deliver On' %}
                                    {% set mdtext = 'Live Unload Not Completed' %}
                                    {% set premdtext = 'Mark If Delivered' %}
                                    {% set dpre = 'Live At' %}
                                    {% set dpret = dc[8] %}
                                {% elif dstat == 1 %}
                                    {% set dtext = 'Delivered On' %}
                                    {% set mdtext = 'Live Unload Completed' %}
                                    {% set premdtext = 'Unmark If Not Delivered' %}
                                    {% set dpre = 'Live Complete' %}
                                    {% set dpret = dc[8] %}
                                {% endif %}
                        {% endif %}

                                <button type="button" class="btn mt-1 my-0 pb-0" data-toggle="modal" data-target="#m{{ ep[0] }}">
                                    <p class="small {{ ep[3] }}"><input class="align-middle" type="checkbox" {% if loop.index in pdepvec[ix] %} checked {% endif %} name="{{ ep[5] }}">
                                        {{ ep[0] }} ({{ ep[6] }})<br> {{ ep[1] }}<br> {{ ep[2] }}<br>{{ ep[15] }}<br>

                                        {% if 'Complete' in dpre %}
                                            {{ dpre }}
                                        {% else %}
                                            <i>{{ ep[16] }}</i>{% if dpret != '25:00' %} <i>{{ dpre }} {{ dpret }}</i>{% endif %}
                                        {% endif %}

                                        {% if ep[4] != [] %}<br>{% for cmt in ep[4] %}{{ cmt }}<br>{% endfor %}{% endif %}
                                    </p>
                                </button>
                                <!-- The Modal -->
                                <div class="modal fade" id="m{{ ep[0] }}" tabindex="-1" role="dialog" aria-labelledby="ml{{ ep[0] }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ml{{ ep[0] }}">{{ ep[0] }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table>
                                                {% set alins = ep[7] %}
                                                    <tr><td class="{{ lmt }}">Haul Type:</td><td class="{{ rmt }}">
                                                        <select class="form-control form-control-sm" type="text" name="ht{{ ep[5] }}">
                                                            {% for du in klist %}
                                                                <option {% if du == dc[12] %} selected {% endif %} value='{{du}}'>{{du}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td></tr>
                                                    <tr><td class="{{ lmt }}">Empty Out:</td><td class="{{ rmt }}">{{ ep[0] }} ({{ ep[6] }})</td></tr>

                                                    <tr><td class="{{ lmt }}">Deliver To:</td>
                                                    <td class="{{ rmt }}">
                                                        <table>
                                                            {% for alin in alins %}
                                                                <tr><td class="{{ rmt }}">{{  alin }}</td></tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td></tr>

                                                    <tr><td class="{{ lmt }}">Planned Gate Out:</td><td class="{{ rmt }}"><input type="date" name="gout{{ ep[5] }}" value="{{ dc[0] }}"></td></tr>
                                                    <tr><td class="{{ lmt }}">{{ dtext }}:</td><td class="{{ rmt }}"><input type="date" name="delv{{ ep[5] }}" value="{{ dc[1] }}">
                                                        <input type="time" id={{ dc[10] }} name="delt{{ ep[5] }}" value="{{ dc[8] }}"></td></tr>

                                                    <tr><td class="{{ lmt }}">{{ premdtext }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 0 %} checked {% endif %} name="dwp{{ ep[5] }}"> {{ mdtext }} </td></tr>
                                                {% if dp %}
                                                     <tr><td class="{{ lmt }}">{{ dtext2 }}:</td><td class="{{ rmt }}"><input type="date" name="delv2{{ ep[5] }}" value="{{ dc[7] }}">
                                                         <input type="time" id={{ dc[11] }} name="pict{{ ep[5] }}" value="{{ dc[9] }}"></td></tr>
                                                     <tr><td class="{{ lmt }}">{{ premdtext2 }}:</td><td class="{{ rmt }}"><input class="align-middle" type="checkbox" {% if dstat > 1 %} checked {% endif %} name="dwp2{{ ep[5] }}"> {{ mdtext2 }} </td></tr>
                                                {% endif %}


                                                    <tr><td class="{{ lmt }}">Planned Gate In:</td><td class="{{ rmt }}"><input type="date" name="gin{{ ep[5] }}" value="{{ dc[2] }}"></td></tr>
                                                    <tr><td class="{{ lmt }}">ERD:</td><td class="{{ rmt }}">{{ dc[3] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">LFD:</td><td class="{{ rmt }}">{{ dc[4] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Vessel/Voyage:</td><td class="{{ rmt }}">{{ ep[11] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">JO:</td><td class="{{ rmt }}">{{ ep[5] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Bill To:</td><td class="{{ rmt }}">{{ ep[1] }}</td></tr>
                                                    <tr><td class="{{ lmt }}">Warnings:</td><td class="{{ rmt }}">{% for cmt in ep[4] %}{{ cmt }}<br>{% endfor %}</td></tr>
                                                    <tr><td class="{{ lmt }}">&nbsp;</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                    <tr><td class="{{ lmt }}">Add comments:</td><td class="{{ rmt }}">&nbsp;</td></tr>
                                                </table>
                                                <textarea class="align-middle"  name="note{{ ep[5] }}" rows="5" style="width: 95%;">{{ ep[12] }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                    {% endif %}
                {% endfor %}

                    {% for ic in pdic[ix] %}
                        <p class="small {{ ic[2] }}">{{ ic[0] }}<br>{{ ic[1] }}
                    {% endfor %}

                    {% for ec in pdec[ix] %}
                        <p class="small {{ ec[2] }}">{{ ec[0] }}<br>{{ ec[1] }}
                    {% endfor %}


                <br>
            </div>
       {% endfor %}
    {% endif %}
</div>

