{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('Class8Main',genre=genre) }}" method="post" enctype="multipart/form-data">
<div class="table-responsive">

<div class="row">

        <div class="col-sm-{{leftsize}}">
            {% if (viewport[0] == 'show_doc_left') or (viewport[0] == 'upload_doc_left') %}
                {% include 'the_tables_hidden.html' %}
            {% else %}
                {% include 'the_tables.html' %}
            {% endif %}

            {% if viewport[0] == 'upload_doc_left' %}
                {% include 'uploaddocs.html' %}
            {% elif viewport[0] == 'show_doc_left' %}
                <div class="row"><div class="col-sm-12" align="right">
                        Looking for: {{viewport[2]}}<br>
                        <embed src="{{viewport[2]}}" width="700px" height="850px"/>
                </div></div>
            {% endif %}
        </div>


        <div class="col-sm-{{rightsize}}" align = "left">
            <div class="row">
                <div class="col-sm-12" align=""center">
                    {% if taskon %}
                        {% set taskfile = taskon | replace(" ","_") %}
                        {% include 'includes/_controlpanelheader.html' %}
                        {% include 'c8_task_'+taskfile+'.html' %}
                    {% else %}
                        {% include 'includes/_controlpanelheader.html' %}
                        {% include 'includes/_truckcolorcode.html' %}
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <br><br><br><br><br><br>
                    {% include 'Debugtable.html' %}
                </div>
            </div>
        </div>

</div>
</div>
{{oder}}<br>
{{modlink}}<br>
{{ genre }}<br>
<input type = "hidden" name ="genre" value= "{{genre}}"><br>
<input type = "hidden" name ="oder" value= "{{oder}}"><br>
<input type = "hidden" name ="modlink" value= "{{modlink}}"><br>
<input type = "hidden" name ="taskon" value= "{{taskon}}">taskon is{{ taskon }}<br>
<input type = "hidden" name ="task_focus" value= "{{task_focus}}">task_focus is{{ task_focus }}<br>
<input type = "hidden" name ="task_iter" value= "{{task_iter}}">task_iter is{{ task_iter }}<br>
<input type = "hidden" name ="tasktype" value= "{{tasktype}}">tasktype is{{ tasktype }}<br>
<input type = "hidden" name ="viewport0" value= "{{viewport[0]}}">viewport0 = {{ viewport[0] }}<br>
<input type = "hidden" name ="viewport1" value= "{{viewport[1]}}">viewport1 = {{ viewport[1] }}<br>
<input type = "hidden" name ="viewport2" value= "{{viewport[2]}}">viewport2 = {{ viewport[2] }}
</form>

{% endblock %}
