{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('main.Class8Main',genre=genre) }}" method="post" enctype="multipart/form-data">
<div class="table-responsive">
{% set showit = holdvec[80] %}
{% if leftsize < 12 %}
   <div class="row">

        {% if viewport[0] == 'split panel left' %}
            <div class="col-sm-4">
                {% if viewport[1] == 'email setup' %}
                    Viewport in use: {{ viewport[1] }}
                    {% set emaildata = holdvec[4] %}
                    {% include 'emailprep.html' %}
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if (viewport[2] == 'show_doc_left') or (viewport[2] == 'upload_doc_left') %}
                    {% include 'the_tables_hidden.html' %}

                {% else %}
                    {% include 'the_tables.html' %}
                {% endif %}

                {% if viewport[2] == 'upload_doc_left' %}
                    {% include 'uploaddocs.html' %}
                {% elif viewport[2] == 'show_doc_left' %}

                        <div class="row"><div class="col-sm-12" align="right">
                                Looking for: {{viewport[3]}}<br>
                                <embed src="{{viewport[3]}}" width="750px" height="900px"/>
                        </div></div>

                {% endif %}
            </div>

        {% elif viewport[0] == 'replace panel left' %}
            <div class="col-sm-{{leftsize}}">
                {% set viewer = 'c8_table_' + taskon + '.html' %}
                {% include viewer %}
            </div>

        {% else %}

            <div class="col-sm-{{leftsize}}">

                {% if (viewport[0] == 'show_doc_left') or (viewport[0] == 'upload_doc_left') %}
                    {% include 'the_tables_hidden.html' %}
                {% else %}
                    {% include 'the_tables.html' %}
                {% endif %}


                {% if viewport[0] == 'upload_doc_left' %}
                    {% include 'uploaddocs.html' %}
                {% elif viewport[0] == 'show_doc_left' %}
                    <div class="row"><div class="col-sm-12" align="center">
                            Looking for: {{viewport[2]}}<br>
                            <embed src="{{viewport[2]}}" width="700px" height="850px"/>
                    </div></div>
                {% endif %}
            </div>

        {% endif %}
    {% endif %}
    {% if leftsize == 12 %}
           <div class="row">
             <div class="col-sm-12" align = "center">
               {% if (viewport[0] == 'show_doc_left') or (viewport[0] == 'upload_doc_left') %}
                    {% include 'the_tables_hidden.html' %}
                {% else %}
                    {% include 'the_tables.html' %}
                {% endif %}
             </div>
            </div>
            <div class="row">
                    {% if taskon or viewport[4] == 'Trucking Drivers Item' %}
                        <div class="col-sm-6" align = "center">
                             {% set taskfile = taskon | replace(" ","_") %}
                             {% include 'includes/_controlpanelheader.html' %}
                             {% if viewport[0] == 'show_doc_left' %}
                                <div class="row"><div class="col-sm-12" align="right">
                                        Looking for: {{viewport[2]}}<br>
                                        <embed src="{{viewport[2]}}" width="750px" height="900px"/>
                                </div></div>
                             {% endif %}
                        </div>
                        <div class="col-sm-6" align = "center">
                             {% include 'c8_task_'+taskfile+'.html' %}
                        </div>
                    {% else %}
                        <div class="col-sm-4" align = "center">
                                {% include 'includes/_controlpanelheader.html' %}

                                {% if showit == 'on' %}
                                    {%  if genre == 'Trucking' %} {% include 'includes/_truckcolorcode.html' %} {% endif %}
                                    {%  if genre == 'Planning' %} {% include 'includes/_plancolorcode.html' %} {% endif %}
                                {% endif %}
                        </div>
                        <div class="col-sm-8" align = "center">
                                {% for db_data in table_data %}
                                    {% set thistable = tabletitle[loop.index - 1] %}
                                    {% if thistable == 'Orders' %}
                                        {% include 'includes/_orders.html' %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
            </div>
        {% else %}

            <div class="col-sm-{{rightsize}}" align = "left">
              <div class="row">
                <div class="col-sm-12" align= "center">
                    {% if taskon or viewport[4] == 'Trucking Drivers Item' %}
                        {% if taskon %}
                            {% set taskfile = taskon | replace(" ","_") %}
                            {% include 'includes/_controlpanelheader.html' %}
                            {% include 'c8_task_'+taskfile+'.html' %}
                        {%  else %}
                            {% include 'includes/_controlpanelheader.html' %}
                            {% include 'c8_task_Upload.html' %}
                        {% endif %}
                    {% else %}
                        {% include 'includes/_controlpanelheader.html' %}
                        {% if showit == 'on' %}
                            {%  if genre == 'Trucking' %} {% include 'includes/_truckcolorcode.html' %} {% endif %}
                            {%  if genre == 'Planning' %} {% include 'includes/_plancolorcode.html' %} {% endif %}
                        {%  endif %}
                        {% for db_data in table_data %}
                            {% set thistable = tabletitle[loop.index - 1] %}
                            <br>
                            {% if thistable == 'Orders' %}
                                {% include 'includes/_orders.html' %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
                <div class="col-sm-12">
                    <br>
                    Instructions for Quote Shorthand:<br>
                    Follows formt: [line amt]+[servic code]=[service qty]$[amount each]*[service info]<br>
                    where all [ ] terms after [line amt] are options.  Examples:<br>
                    <b>500+ch</b> will invoice $500 line haul and add chassis fees automatically.<br>
                    Chassis qty calculated from in-out gate tickets<br>
                    Chassis $/day calculated from the amount the service uses by default.<br><br>
                    <b>600+ch=2$40</b> will invoice $600 line haul and add chassis fees automatically.<br>
                    Chassis qty overridden by the the qty 2 (=2)<br>
                    Chassis $/day overridden as $40/day. ($40)<br><br>
                    <b>450+ch=2$40+dd*13:25-17:51+pd$1500</b> will invoice $450 for line haul,<br>
                    then will add a line item for chassis (2 days at $40/day),<br>
                    then will add a line item for driver detention (time start 1:25pm and time end 5:51pm),<br>
                    then will add a line item for per diem at $1500
                </div>
            <div class="row">
                <div class="col-sm-12">
                    <br><br><br><br><br><br>
                    {% include 'Debugtable.html' %}
                </div>
            </div>
        </div>
        {% endif %}

</div>
</div>

{% if genre == 'Planning' %}
    {% set caldata = holdvec[100] %}
    {% set jolist = caldata[9] %}
    {% for jo in jolist %}
        <input type = "hidden" name ="jo{{ loop.index }}" value= "{{jo}}"> jo{{ loop.index }} is {{ jo }}<br>
    {% endfor %}
{% endif %}

<input type = "hidden" name ="genre" value= "{{genre}}"><br>
<input type = "hidden" name ="oder" value= "{{oder}}"><br>
<input type = "hidden" name ="modlink" value= "{{modlink}}"><br>
<input type = "hidden" name ="taskon" value= "{{taskon}}">taskon is{{ taskon }}<br>
<input type = "hidden" name ="task_focus" value= "{{task_focus}}">task_focus is{{ task_focus }}<br>
<input type = "hidden" name ="task_iter" value= "{{task_iter}}">task_iter is{{ task_iter }}<br>
<input type = "hidden" name ="tasktype" value= "{{tasktype}}">tasktype is{{ tasktype }}<br>
<input type = "hidden" name ="viewport0" value= "{{viewport[0]}}">viewport0 = {{ viewport[0] }}<br>
<input type = "hidden" name ="viewport1" value= "{{viewport[1]}}">viewport1 = {{ viewport[1] }}<br>
<input type = "hidden" name ="viewport2" value= "{{viewport[2]}}">viewport2 = {{ viewport[2] }}
</form>

{% endblock %}
