{% if username == 'Mark' %}
<table>
<tr align="center">
<td>Debug Values</td>
</tr>
<tr align="left"><td>critday={{critday}}</td></tr>
{% if vdata != 0 %}
{% for data in vdata %}
<tr align="left"><td>vdata is {{data}}</td></tr>
{% endfor %}
{% endif %}
<tr align="left"><td>genre={{genre}}</td></tr>
<tr align="left"><td>ship={{ship}}</td></tr>
<tr align="left"><td>oder={{oder}}</td></tr>
<tr align="left"><td>poof={{poof}}</td></tr>
<tr align="left"><td>peep={{peep}}</td></tr>
<tr align="left"><td>serv={{serv}}</td></tr>
<tr align="left"><td>tick={{tick}}</td></tr>
<tr align="left"><td>modlink={{modlink}}</td></tr>
<tr align="left"><td>monsel={{monsel}}</td></tr>
<tr align="left"><td>modata.SubJo={{modata.SubJo}}</td></tr>
<tr align="left"><td>lastpr={{lastpr}}</td></tr>
<tr align="left"><td>inco={{inco}}</td></tr>
<tr align="left"><td>invooder={{invooder}}</td></tr>
<tr align="left"><td>invo={{invo}}</td></tr>
<tr align="left"><td>leftsize={{leftsize}}</td></tr>
<tr align="left"><td>leftscreen={{leftscreen}}</td></tr>
<tr align="left"><td>datespot={{datespot}}</td></tr>
<tr align="left"><td>today={{today}}</td></tr>
<tr align="left"><td>ondock={{ondock}}</td></tr>
<tr align="left"><td>rtog={{rtog}}</td></tr>
<tr align="left"><td>rtogsw={{rtogsw}}</td></tr>
<tr align="left"><td>thismuch={{thismuch}}</td></tr>
<tr align="left"><td>stamp={{stamp}}</td></tr>
<tr align="left"><td>mm1={{mm1}}</td></tr>
<tr align="left"><td>quot={{quot}}</td></tr>
<tr align="left"><td>eprof={{eprof}}</td></tr>
<tr align="left"><td>viewtype={{viewtype}}</td></tr>
</table>
{% endif %}
