{% extends 'A_layout_portal.html'  %}

{% block body %}

<div class="table-responsive">
    <div id="hero">
        <div id="hero-overlay">
            <div class="row"><div class="col-sm-12"> &nbsp </div></div>
            <div class="row"><div class="col-sm-1"></div><div class="col-sm-11 text-blue"><h2> Easy Start Menu </h2></div></div>
            <div class="row"><div class="col-sm-12">&nbsp </div></div>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

          <div class="card-deck">


          <div class="card">
            <img class="card-img-top" src="{{srcpath}}pics/card_spreadsheetpict.png" alt="portbaltimore.jpg">
            <div class="card-body">
              <h5 class="card-title text-danger">Truck Job Manager</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Jobs, Proofs, Interchange, Customers, Manifests, Invoicing, and Receive Payments All in One Location</li>
              </ul>
              <p class="card-text"> All key tasks are centered on the Truck Job, which makes it easy to find out the status of container movements, invoices, and payments received.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Work Area Dropdown</small>
              <a href="{{ url_for('Class8Main',genre='Trucking') }}" class="btn btn-primary">Run Truck Job Manager</a>
            </div>
          </div>


        <div class="card">
          <img class="card-img-top" src="{{srcpath}}pics/card_carsales.png" alt="portbaltimore.jpg">
          <div class="card-body">
            <h5 class="card-title text-danger">Auto Sales Manager</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Jobs, Auto Inventory, Customers, Title, Invoices, and Receive Payments All in One Location </li>
            </ul>
            <p class="card-text">Keep car sales data while monitoring inventory, invoices, and payments received.</p>

          </div>
          <div class="card-footer text-center">
            <small class="text-muted">Work Area Dropdown</small>
            <a href="{{ url_for('Class8Main',genre='Auto') }}" class="btn btn-primary">Run Auto Manager</a>
          </div>
        </div>


      <div class="card">
        <img class="card-img-top" src="{{srcpath}}pics/card_compliance.png" alt="portbaltimore.jpg">
        <div class="card-body">
          <h5 class="card-title text-danger">Compliance Manager</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Keep Records and Search Data Associated with Compliance</li>
          </ul>
          <p class="card-text">Allows you to stay on top of taxes, permits, fees, and filings required at the Federal, State, and Local levels.  Also monitors complicance with DOT and FMCSA filings and drug screen programs, and Human Resources requirements.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">Admin Area Dropdown</small>
          <a href="/Compliance" class="btn btn-primary">Run Compliance Manager</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="{{srcpath}}pics/card_phonescan.png" alt="portbaltimore.jpg">
        <div class="card-body">
          <h5 class="card-title text-danger">General Information Manager</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Centralized Information Collection</li>
          </ul>
          <p class="card-text">We all write down important notes and lose them.  With this system just scan or take a pictures of your notes and
          the automatic uploader with convert the notes to text and file it in a searchable database.</p>
        </div>
        <div class="card-footer text-center">
          <small class="text-muted">Admin Area Dropdown</small>
          <a href="/General" class="btn btn-primary">Run General Info Manager</a>
        </div>
      </div>

      </div>

</div>
<div class="col-sm-1"></div>
</div>


<div class="row"><div class="col-sm-12"> &nbsp </div></div>



<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
          <div class="card-deck">

            <div class="card">
              <img class="card-img-top" src="{{srcpath}}pics/card_calendar.png" alt="calendar.jpg">
              <div class="card-body">
                <h5 class="card-title text-danger">Integrated Jobs Calendar</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Calendar View of Each Job on Date of Execution</li>
                </ul>
                <p class="card-text">Use this feature to get a sense of the ongoing and upcoming work load.
                  Each job is shown as a 'Button' with key info.  Clicking button allows updating of job
                information and creation of a manifest.</p>
              </div>
              <div class="card-footer text-center">
                <small class="text-muted">Admin Area Dropdown</small>
                <a href="{{ url_for('Class8Main',genre='Planning') }}" class="btn btn-primary">Run Planning Manager</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="{{srcpath}}pics/card_vin_decode.png" alt="portbaltimore.jpg">
              <div class="card-body">
                <h5 class="card-title text-danger">Vin Decoder Plus!</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Auto Capture of Vehicle Data from VIN</li>
                </ul>
                <p class="card-text">Enter VIN number and system will scrape the web to obtain the Year, Make, and Model of the vehicle.
                 It will also get the average sales price and vehicle weight.  It cannot get the title number as that information
               is not publically available.</p>
              </div>
              <div class="card-footer text-center">
                <small class="text-muted">Mobile App Dropdown</small>
                <a href="/AutoScanner" class="btn btn-primary">&nbsp; &nbsp; &nbsp; Run VIN Scraper &nbsp; &nbsp; &nbsp;</a>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="{{srcpath}}pics/card_double_entry_accounting.png" alt="portbaltimore.jpg">
              <div class="card-body">
                <h5 class="card-title text-danger">Integrated Banking</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">All Business Operations in One Place</li>
                </ul>
                <p class="card-text"> By integrating all business operations in one financial system, the system can keep compliant with
                all companies, even if you end up paying one company's bill from another company's account.</p>

              </div>
              <div class="card-footer text-center">
                <small class="text-muted">Admin Area Dropdown</small>
                <a href="/Banking" class="btn btn-primary">Run Integrated Banking</a>
              </div>
            </div>


          <div class="card">
            <img class="card-img-top" src="{{srcpath}}pics/card_reports.png" >
            <div class="card-body">
              <h5 class="card-title text-danger">Financial Reports</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Profit/Loss, Balance, Cash Flows, Customer Histories</li>
              </ul>
              <p class="card-text">Use this section to get comprehensive, up-to-date reports to stay on top of customer open balances.  Review profit and loss to better understand the company operations.
              Also provides custom reports such as containers out.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Admin Area Dropdown</small>
              <a href="/Reports" class="btn btn-primary">Run Financial Reports</a>
            </div>
          </div>


              <div class="card">
            <img class="card-img-top" src="{{srcpath}}pics/card_calendar.png" alt="calendar.jpg">
            <div class="card-body">
              <h5 class="card-title text-danger">Calendar Test</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">MDB5 Advanced Calendar</li>
              </ul>
              <p class="card-text">Use this section to get comprehensive, up-to-date reports to stay on top of customer open balances.  Review profit and loss to better understand the company operations.
              Also provides custom reports such as containers out.</p>
            </div>
            <div class="card-footer text-center">
              <small class="text-muted">Admin Area Dropdown</small>
              <a href="/CalendarTest" class="btn btn-primary">Run the Calendar Test</a>
            </div>
          </div>








      </div>

</div>
<div class="col-sm-1"></div>
</div>



</div></div></div>

{% endblock %}
