{% set emailin1=emaildata[2] %}
{% set emailin2=emaildata[3] %}
{% set emailcc1=emaildata[4] %}
{% set emailcc2=emaildata[5] %}
{% set etitle = emaildata[0] %}
{% set ebody = emaildata[1] %}
{% set attachname = emaildata[7] %}
{% set sourcename = emaildata[6] %}
{% set foldername = emaildata[8] %}
{% set eprof = holdvec[6] %}
{% set enames = holdvec[7] %}
<br>

<div class="card">
  <div class="card-header" align = "center">
    Enter Email Associated with this Package<br>
      {% if eprof %}
            <div class="d-sm-flex justify-content-center small">
                <div class="p-0">
                   <select class="form-control" type="text" name="emlprofile" onchange="this.form.submit()">
                   <!-- <select class="mdb-select md-form" name="emlprofile" onchange="this.form.submit()">-->
                        <option value="" disabled selected>Choose Document/Email Profile</option>
                        {% for ename in enames %}
                            <option {% if eprof == ename %} selected {% endif %} value='{{ ename }}'>{{ ename }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    {% endif %}
  </div>
<div class="card-body">
<div class="input-group-text">E-Title:</div>
<input class="form-control" type="text" value="{{etitle}}" name="edat0">

<div class="input-group-text">E-Body:</div>
<textarea class="form-control" type="text" name="edat1" rows="5">{{ebody | safe}}</textarea>

<div class="input-group-text">Email To1:</div>
<input class="form-control" type="text" value="{{emailin1}}" name="edat2">

<div class="input-group-text">Email To2:</div>
<input class="form-control" type="text" value="{{emailin2}}" name="edat3">

<div class="input-group-text">Email CC1:</div>
<input class="form-control" type="text" value="{{emailcc1}}" name="edat4">

<div class="input-group-text">Email CC2:</div>
<input class="form-control" type="text" value="{{emailcc2}}" name="edat5">

<div class="input-group-text">Attachment Name:</div>
<input class="form-control" type="text" value="{{attachname}}" name="edat7">

<div class="input-group-text">Attachment Source:</div>
<input class="form-control" type="text" value="{{sourcename}}" name="edat6">

<div class="input-group-text">Attachment Folder:</div>
<input class="form-control" type="text" value="{{foldername}}" name="edat8">



</div>
</div>
