<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/static/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/static/css/style.css" rel="stylesheet">

<!-- MDBootstrap Datatables  -->
<link href="/static/css/addons/datatables.min.css" rel="stylesheet">

<style>

#pics img {
position:absolute;
display: none;
    width:350px;

}

</style>

    <title>{{cmpdata[0]}}</title>
  </head>
    <body>
    {% set navbar = 'companysite/' + scac + '/navbar7.html' %}
    {% include navbar %}
    <br>
    <div class="container-fluid">
      {% block body %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/static/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>

<!-- MDBootstrap Datatables  -->
 <script type="text/javascript" src="/static/js/addons/datatables.min.js"></script>

<script>

runslide1();

function runslide1() {
    $('#pic1').fadeIn(1500).delay(3500).fadeOut(1500, function() {
        $('#pic2').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            runslide1();
            });
                });
}

runslide2();
function runslide2() {
    $('#pic5').fadeIn(1500).delay(3500).fadeOut(1500, function() {
        $('#pic6').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            $('#pic7').fadeIn(1500).delay(3500).fadeOut(1500, function() {
                $('#pic8').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            runslide2();});});});});
}
runslide3();
function runslide3() {
    $('#pic9').fadeIn(1500).delay(3500).fadeOut(1500, function() {
        $('#pic10').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            $('#pic11').fadeIn(1500).delay(3500).fadeOut(1500, function() {
                $('#pic12').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            runslide3();});});});});
}
runslide4();
function runslide4() {
    $('#pic13').fadeIn(1500).delay(3500).fadeOut(1500, function() {
        $('#pic14').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            $('#pic15').fadeIn(1500).delay(3500).fadeOut(1500, function() {
                $('#pic16').fadeIn(1500).delay(3500).fadeOut(1500, function() {
            runslide4();});});});});
}


</script>



  </body>
</html>
