<nav class="navbar  navbar-expand-lg sticky-top navbar-light bg-white">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/People_Forms">Forms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Calculator">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Employment">Employment</a>
            </li>

        </ul>
  </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="/EasyStart"><img src='/static/{{ scac }}/pics/bannerpict.png' height="50"></a>
    </div>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

         {% if session.logged_in %}



        <!-- Dropdown -->
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">WorkArea</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">

                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Trucking') }}">Truck Job Manager</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Planning') }}">Truck Planner</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Auto') }}">Auto Sales Manager</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Billing') }}">Bill Payments</a>
                <a class="dropdown-item" href="{{ url_for('main.Revenue') }}">Revenue Reports</a>
                <a class="dropdown-item" href="{{ url_for('main.QuoteMaker') }}">Quote Maker</a>
                <a class="dropdown-item" href="{{ url_for('main.ARMaker') }}">Accounts Receivables</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='DriverMaint') }}">Driver Logs</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='VehicleMaint') }}">Vehicle Logs</a>

            </div>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">AdminArea</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">

                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Calendar') }}">Calendar View</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Banking') }}">Banking</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Accounts') }}">Chart of Accounts</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Compliance') }}">Compliance Review</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='Reports') }}">Business Reports</a>
                <a class="dropdown-item" href="{{ url_for('main.Class8Main',genre='General') }}">General Information</a>
                {% if session['authority'] == 'superuser' %}
                    <a class="dropdown-item" href="{{ url_for('authenticate.register') }}">Create New User</a>
                {% endif %}

            </div>
            </li>





         <li class="nav-item">
           <li class="nav-item"><a class="nav-link" href="{{ url_for('authenticate.logout') }}">Logout</a></li>
         </li>
         {% else %}

            <li class="nav-item">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('authenticate.login') }}">Login to Portal</a></li>
            </li>

         {% endif %}

        </ul>
    </div>
</nav>
