{% extends 'A_layout_portal.html' %}

{% block body %}
{% set atcb = "font-weight-bold text-center" %}
{% set atrb = "font-weight-bold text-right" %}
{% set atr = "text-right" %}
<div class="table-responsive">

<div class="row"> &nbsp' </div>
<div class="row">
            <div class="col-sm-4" align="center">
                <h1>Monthly Income Report</h1>
                <h5>{{ title1 }}</h5>
                 <table class="table  table-striped table-bordered  table-hover w-auto"  width="100%">
                   <tr>
                         {% for col in col1 %}
                             <td class="{{atrb}}"><large>{{ col }}</large></td></td>
                         {% endfor %}
                   </tr>
                   {% for data in data1 %}
                       <tr>{% for dat in data %} {% if 'TOTAL' in data[0] %} <td class="{{atrb}}"> {% else %} <td class="{{atr}}"> {% endif %}{{ dat }}</td> {% endfor %}</tr>
                   {% endfor %}
                 </table>
            </div>

            <div class="col-sm-4" align="center">
            <h1>Open Balance Report</h1>
                <h5>{{ title2 }}</h5>
                 <table class="table  table-striped table-bordered  table-hover w-auto"  width="100%">
                   <tr>
                         {% for col in col2 %}
                            <td align="right" ><b>{{ col }}</b></td>
                         {% endfor %}
                   </tr>
                   {% for data in data2 %}
                       <tr>{% for dat in data %} <td align="right" ><b>{{ dat }}</b></td> {% endfor %}</tr>
                   {% endfor %}
                 </table>
            </div>
            <div class="col-sm-4" align="center">
                 <h5>{{ title3 }}</h5>
                 <table class="table  table-striped table-bordered  table-hover w-auto"  width="100%">
                   <tr>
                         {% for col in col3 %}
                            <td align="right" ><b>{{ col }}</b></td>
                         {% endfor %}
                   </tr>
                   {% for data in data3 %}
                       <tr>{% for dat in data %} <td align="right" ><b>{{ dat }}</b></td> {% endfor %}</tr>
                   {% endfor %}
                 </table>
            </div>




</div>

{% endblock %}
