        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Up Top</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Drayage</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Drivers</a></li>
                        <li class="nav-item"><a class="nav-link" href="#signup">Contact</a></li>


                        {% if session.logged_in %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">WorkArea</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Trucking') }}">Truck Job Manager</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Auto') }}">Auto Sales Manager</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Billing') }}">Bill Payments</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='IncomeMaint') }}">Revenues & Deposits</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='InvoiceMaint') }}">Invoices Review</a>
                                    <a class="dropdown-item" href="{{ url_for('QuoteMaker') }}">Quote Maker</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='DriverMaint') }}">Driver Logs</a>
                                    <a class="dropdown-item" href="{{ url_for('Class8Main',genre='VehicleMaint') }}">Vehicle Logs</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
                              aria-expanded="false">AdminArea</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink2">
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Calendar') }}">Calendar View</a>
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Banking') }}">Banking</a>
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Accounts') }}">Chart of Accounts</a>
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Compliance') }}">Compliance Review</a>
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='Reports') }}">Business Reports</a>
                                <a class="dropdown-item" href="{{ url_for('Class8Main',genre='General') }}">General Information</a>
                                    {% if session['authority'] == 'superuser' %}
                                        <a class="dropdown-item" href="{{ url_for('authenticate.register') }}">Create New User</a>
                                    {% endif %}
                                </div>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="{{ url_for('authenticate.logout') }}">Logout</a></li>

                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('authenticate.login') }}">Login to Portal</a></li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>