<br>
<div class="card">
  <div class="card-header">
           <div class="d-flex justify-content-around align-items-center">
               <div class="p-0">
                    Orders Table Shortcuts
               </div>
           </div>

  </div>

  <table class="table table-striped table-bordered table-sm w-auto">
    <tbody>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Reset"
                            data-toggle="tooltip" title="Clears all filters like you first start the session">Reset<br>All</button>
          </td>
          <td class="align-middle">
              <b>This button resets the filters and tasks as if launching table from start</b>
          </td>
        </tr>
            <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Paste Buffer"
                            data-toggle="tooltip" title="Copy pull data to paste buffer">Dispatch<br>Copy</button>
          </td>
          <td class="align-middle">
                {% if holdvec[45] %}
                    <textarea id="myInput" rows="2" cols="60">{{ holdvec[45] }}</textarea>
                    <body onload="myFunction()">
                {% else %}
                    <b>This button will create a standardized dispatch command for the selected job based on its current status.<br>  It will sandwich a pair of port dispatch in-out commands if two jobs are selected.</b>
                {% endif %}
          </td>
        </tr>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="InvoiceSet"
                            data-toggle="tooltip" title="Creates filters ideal for running invoices">Invoice<br>Setup</button>
          </td>
          <td class="align-middle">
              <b>This button sets up the filters most ideal for invoicing/sending completed jobs</b>
          </td>
        </tr>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="PinGet"
                            data-toggle="tooltip" title="Gets pins for the scheduled port trips">Get<br>Pins</button>
          </td>
          <td class="align-middle">
              <b>This button executes the script to get pins from Port</b>
          </td>
        </tr>
    </tbody>
  </table>


</div>

{% if holdvec[46] %}
    {% for setdata in holdvec[46] %}
        {% set thisdate = setdata[0] %}
        {% set but = setdata[1] %}
        {% set pdata = setdata[2] %}
        {% set drvdata = holdvec[44][0] %}
        {% set trkdata = holdvec[44][1] %}
                <br>
                    <div class="card">
                      <div class="card-header">
                               <div class="d-flex justify-content-around align-items-center">
                                   <div class="p-0">
                                        Schedule for {{ thisdate }}
                                   </div>
                               </div>

                      </div>

                      <table class="table table-striped table-bordered table-sm w-auto">
                        <tbody>
                            <tr>

                                <td>
                                <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="add{{ but }}"
                                    data-toggle="tooltip" title="Add dispatch to schedule for today">Add For<br>Date</button>
                                <button type="submit" class="btn btn-group-small btn-black my-small-btn" name="mod{{ but }}"
                                    data-toggle="tooltip" title="Update schedule for selected driver/truck">Update<br>Driver/Trk</button>
                                    <button type="submit" class="btn btn-group-small btn-red my-small-btn" name="del{{ but }}"
                                    data-toggle="tooltip" title="Delete selected dispatch">Delete<br>Selected</button>
                                    <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="moveup{{ but }}"
                                    data-toggle="tooltip" title="Move date one day previous">Move<br>Date -1</button>
                                    <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="movedn{{ but }}"
                                    data-toggle="tooltip" title="Move date one day later">Move<br>Date +1</button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
                     <table>
                      {% for pdat in pdata %}
                          {% if pdat.OutPin == '0' %}{% set lk = 0 %}{% else %}{% set lk = 1 %}{% endif %}
                          {% if pdat.OutPin == '0' %}
                                {% if pdat.Driver %}{% set col1 = 'green-text font-weight-bold' %}{% else %}{% set col1 = 'black-text' %}{% endif %}
                          {% else %}
                                {% set col1 = 'blue-text font-weight-bold' %}
                          {% endif %}
                          <tr>
                          <td align="center" ><input class="align-middle" type="checkbox"  name="box{{ but }}{{ loop.index-1 }}"></td>
                              <td><span class="{{ col1 }}">{{ pdat.Intext }}<br> {{ pdat.Outtext }}</span>
                              {% if pdat.Carrier %}<br><span class="red-text">{{ pdat.Carrier }}</span>{% endif %}
                          </td>
                              <td>
                                  <select class="mdb-select md-form" name="drv{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}>
                                    {% for drv in drvdata %}
                                            <option {% if drv.Name == pdat.Driver %} selected {% endif %} value="{{ drv.Name }}">{{ drv.Name }}</option>
                                    {% endfor %}
                                  </select>
                              </td>
                              <td>
                                  <select class="mdb-select md-form" name="unit{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}>
                                    {% for truck in trkdata %}
                                            <option {% if truck.Unit == pdat.Unit %} selected {% endif %} value="{{ truck.Unit }}">{{ truck.Unit }}</option>
                                    {% endfor %}
                                  </select>
                              </td>

                                <td>
                                    <input class="form-control form-control-sm" type="text" value={{pdat.InChas}} name="chas{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}></td>
                              </td>
                          </tr>

                    {% endfor %}
                     </table>


                </div>
    {% endfor %}
{% endif %}
