<br>
<div class="card">
  <div class="card-header">
           <div class="d-flex justify-content-around align-items-center">
               <div class="p-0">
                    Orders Table Shortcuts
               </div>
           </div>

  </div>

  <table class="table table-striped table-bordered table-sm w-auto">
    <tbody>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Reset"
                            data-toggle="tooltip" title="Clears all filters like you first start the session">Reset<br>All</button>
          </td>
          <td class="align-middle">
              <b>This button resets the filters and tasks as if launching table from start</b>
          </td>
        </tr>
            <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Paste Buffer"
                            data-toggle="tooltip" title="Copy pull data to paste buffer">Dispatch<br>Copy</button>
          </td>
          <td class="align-middle">
                {% if holdvec[45] %}
                    <textarea id="myInput" rows="2" cols="60">{{ holdvec[45] }}</textarea>
                    <body onload="myFunction()">
                {% else %}
                    <b>This button will create a standardized dispatch command for the selected job based on its current status.<br>  It will sandwich a pair of port dispatch in-out commands if two jobs are selected.</b>
                {% endif %}
          </td>
        </tr>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="InvoiceSet"
                            data-toggle="tooltip" title="Creates filters ideal for running invoices">Invoice<br>Setup</button>
          </td>
          <td class="align-middle">
              <b>This button sets up the filters most ideal for invoicing completed jobs</b>
          </td>
        </tr>
        <tr>
          <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="PinGet"
                            data-toggle="tooltip" title="Gets pins for the scheduled port trips">Get<br>Pins</button>
          </td>
          <td class="align-middle">
              <b>This button executes the script to get pins from Port</b>
          </td>
        </tr>
    </tbody>
  </table>

</div>
