<br>
<div class="card">
  <div class="card-header">
           <div class="d-flex justify-content-around align-items-center">
               <div class="p-0">
                    Orders Table Shortcuts
               </div>
           </div>

  </div>

  <table class="table table-striped table-bordered table-sm w-auto">
    <tbody>
        <tr>
              <td class="align-left"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Reset"
                                data-toggle="tooltip" title="Clears all filters like you first start the session">Reset<br>All</button>
              </td>
              <td class="align-left"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="InvoiceSet"
                                data-toggle="tooltip" title="Creates filters ideal for running invoices">Invoice<br>Setup</button>
              </td>
              <td class="align-left"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="ResetMod"
                                data-toggle="tooltip" title="Prepares Calendar Date for Modification">Reset<br>Calendar</button>
              </td>
        </tr>
        <tr>
              <td class="align-middle"> <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="Paste Buffer"
                                data-toggle="tooltip" title="Copy pull data to paste buffer">Dispatch<br>Copy</button>
              </td>
              <td>&nbsp;</td>
              <td class="align-middle">
                    {% if holdvec[95] %}
                        <textarea id="myInput" rows="2" cols="60">{{ holdvec[95] }}</textarea>
                        <body onload="myFunction()">
                    {% else %}
                        <b>This button will create a standardized dispatch command for the selected job based on its current status.<br>  It will sandwich a pair of port dispatch in-out commands if two jobs are selected.</b>
                    {% endif %}
              </td>

        </tr>
    </tbody>
  </table>


</div>

{% if holdvec[96] %}
    {% for setdata in holdvec[96] %}
        {% set thisdate = setdata[0] %}
        {% set but = setdata[1] %}
        {% set pdata = setdata[2] %}
        {% set drvdata = holdvec[94][0] %}
        {% set trkdata = holdvec[94][1] %}
                <br>
                    <div class="card">
                      <div class="card-header">
                               <div class="d-flex justify-content-around align-items-center">
                                   <div class="p-0">
                                        Schedule for {{ thisdate }}
                                   </div>
                               </div>

                      </div>

                      <table class="table table-striped table-bordered table-sm w-auto">
                        <tbody>
                            <tr>

                                <td>
                                <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="add{{ but }}"
                                    data-toggle="tooltip" title="Add dispatch to schedule for today">Add For<br>Date</button>
                                <button type="submit" class="btn btn-group-small btn-black my-small-btn" name="mod{{ but }}"
                                    data-toggle="tooltip" title="Update schedule for selected driver/truck">Update<br>Driver/Trk</button>
                                    <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="hold{{ but }}"
                                    data-toggle="tooltip" title="Place getting pin on hold until released">Hold<br>Toggle</button>
                                    <button type="submit" class="btn btn-group-small btn-red my-small-btn" name="del{{ but }}"
                                    data-toggle="tooltip" title="Delete selected dispatch">Delete<br>Selected</button>
                                    <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="moveup{{ but }}"
                                    data-toggle="tooltip" title="Move date one day previous">Move<br>Date -1</button>
                                    <button type="submit" class="btn btn-group-small btn-amber my-small-btn" name="movedn{{ but }}"
                                    data-toggle="tooltip" title="Move date one day later">Move<br>Date +1</button>

                                </td>
                            </tr>
                        </tbody>
                      </table>

                      {% for pdat in pdata %}
                          {% if pdat.OutPin == '0' %}{% set lk = 0 %}{% else %}{% set lk = 1 %}{% endif %}
                          {% if pdat.OutPin == '0' %}
                                {% if pdat.Driver %}{% set col1 = 'green-text font-weight-bold' %}{% else %}{% set col1 = 'black-text' %}{% endif %}
                              {% if pdat.Timeslot == 0 %} {% set col1 = 'amber-text font-weight-bold' %}{% endif %}
                          {% else %}
                                {% set col1 = 'blue-text font-weight-bold' %}
                          {% endif %}
                          <div class="d-sm-flex justify-content-left small">
                             <div class="p-1 text-left">
                                <input class="align-middle" type="checkbox"  name="box{{ but }}{{ loop.index-1 }}">

                                     <select class="mdb-select md-form" name="drv{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}>
                                            {% for drv in drvdata %}
                                                    <option {% if drv.Name == pdat.Driver %} selected {% endif %} value="{{ drv.Name }}">{{ drv.Name }}</option>
                                            {% endfor %}
                                     </select>
                                      <select class="mdb-select md-form" name="unit{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}>
                                            {% for truck in trkdata %}
                                                    <option {% if truck.Unit == pdat.Unit %} selected {% endif %} value="{{ truck.Unit }}">{{ truck.Unit }}</option>
                                            {% endfor %}
                                        </select>
                                     <select class="mdb-select md-form" name="slot{{ but }}{{ loop.index-1 }}">
                                            <option {% if pdat.Timeslot == 0 %} selected {% endif %} value="0" >Hold Getting</option>
                                            <option {% if pdat.Timeslot == 1 %} selected {% endif %} value="1" >Current Time Slot </option>
                                            <option {% if pdat.Timeslot == 2 %} selected {% endif %} value="2">Next Time Slot  </option>
                                            <option {% if pdat.Timeslot == 3 %} selected {% endif %} value="3">2x Next Time Slot</option>
                                            <option {% if pdat.Timeslot == 4 %} selected {% endif %} value="4">Last Time Slot</option>
                                     </select>

                                     <input class="mdb-select md-form-sm" type="text" value={{pdat.InChas}} name="chas{{ but }}{{ loop.index-1 }}" {% if lk %}disabled{% endif %}>
                                     <button type="submit" class="btn btn-group-small btn-blue my-small-btn" name="copy{{ but }}{{ loop.index-1 }}">Copy</button>
                          <br>
                             {% if pdat.Intext and pdat.Outtext %}
                                 <span class="{{ col1 }}">{{ pdat.Intext }}<br>{{ pdat.Outtext }}</span>
                             {% elif pdat.Intext %}
                                 <span class="{{ col1 }}">{{ pdat.Intext }}</span>
                             {% elif pdat.Outtext %}
                                 <span class="{{ col1 }}">{{ pdat.Outtext }}</span>
                             {% endif %}
                                 {% if pdat.Notes %}
                                     {% set col2 = 'black-text' %}
                                     {% if '**Warning' in pdat.Notes %}{% set col2 = 'red-text' %}{% endif %}
                                      <span class="{{ col2 }}">
                                       <br>{{ pdat.Notes }}
                                    </span>
                                  {% endif %}
                          </div>
                          </div>
                     {% endfor %}



                </div>
    {% endfor %}
{% endif %}
