<br>
<div class="card">
  <div class="card-header">
           <div class="d-flex justify-content-around align-items-center">
               <div class="p-0">
                    Trucking Table Color Codes
               </div>
                <div class="p-0">
                    <select class="mdb-select md-form" name="vidbox" onchange="this.form.submit()">
                        <option value="" disabled selected>Truck Tutorials</option>
                        <option value="1">Overview</option>
                        <option value="2">Truck Tables</option>
                        <option value="3">Work Flow Example</option>
                        <option value="4">Making New Jobs</option>
                        <option value="5">Modifying Jobs</option>
                        <option value="6">Invoicing and Quotes</option>
                        <option value="7">Trucking Tasks</option>
                        <option value="8">Deleting Items</option>
                    </select>
                </div>
           </div>

  </div>

  <table class="table table-striped table-bordered table-sm w-auto">
    <thead>
    <tr>
      <td align="center" class="white red-text font-weight-bold">Status of Hauling</td>
      <td align="center" >&nbsp;</td>
      <td align="center" class="white red-text font-weight-bold">Status of Payments</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td align="left" class="white font-weight-bold">Work Not Started</td>
      <td align="center" ><input class="align-middle" type="checkbox"></td>
      <td align="right" class="white font-weight-bold">No Invoice & No Payments</td>
    </tr>
    <tr>
      <td align="left" class="blue text-white font-weight-bold">Container Pulled</td>
      <td align="center" ><input class="align-middle" type="checkbox"></td>
      <td align="right" class="blue text-white font-weight-bold">Invoice Created, not Recorded</td>
    </tr>
    <tr>
      <td align="left" class="purple text-white font-weight-bold">Container Returned</td>
      <td align="center" ><input class="align-middle" type="checkbox"></td>
      <td align="right" class="purple text-white font-weight-bold">Invoice Recorded Not Emailed</td>
    </tr>
    <tr>
      <td align="left" class="amber font-weight-bold">Work Set to Complete</td>
      <td align="center" ><input class="align-middle" type="checkbox"></td>
      <td align="right" class="amber font-weight-bold">Invoice Recorded and Emailed</td>
    </tr>
    <tr>
      <td align="left" class="green text-white font-weight-bold">Work Complete w/Pay</td>
      <td align="center" ><input class="align-middle" type="checkbox"></td>
      <td align="right" class="green text-white font-weight-bold">Payment Received</td>
    </tr>
    </tbody>
  </table>

</div>
